#-----------------------
#Sat Nov 08 12:38:25 EET 2014
user=admin
JDBCconnection=jdbc\:mysql\://localhost/amsaf
ServerAddress=localhost\:1099
LookAndFeel=com.sun.java.swing.plaf.nimbus.NimbusLookAndFeel
LastLogin=alex
dbDriverName=com.mysql.jdbc.Driver
dbUser=root
userPassword=admin
dbPassword=root
